<script type="module">
fetch('./data/characters.json')
  .then(response => response.json())
  .then(characters => {
    const html = characters.map(character => `
    <article class="w-[300px] h-[450px] m-8 border-4 border-green-500 border-radius-2 rounded-lg transition hover:scale-105 hover:shadow-xl hover:shadow-green-500/50">
        <img class="w-[270px] h-[300px] object-contain m-3 transition hover:drop-shadow-green-lg" src="${character.image}" alt="${character.name}">
        ${character.type === 'Heroe' ? `<h3 class="text-xl text-center font-bold text-white p-2">${character.name}</h3>` : ''}
        ${character.type === 'Alien' ? `<h3 class="text-xl text-center font-bold text-green-300 p-2">${character.name}</h3>` : ''}
        ${character.type === 'Villano' ? `<h3 class="text-xl text-center font-bold text-red-300 p-2">${character.name}</h3>` : ''}
        <p class="text-lg text-center p-2"><span class="bg-green-900 text-green-300 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full ">${character.species} de ${character.homeworld} </span></p>
        <!--<p class="text-lg p-2"> Habilidades: ${character.abilities}</p>-->
    </article>
    `).join('');
    document.querySelector('#principal').innerHTML = html;
  });
</script>